.intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 166, 0);
  background-color: rgb(22, 9, 9);
}

.intro-content {
  text-align: center;
}

h1 {
  font-size: 3rem;
}
h5 {
  font-size: x-large;
  color: rgb(156, 170, 170);
}
.search-bar-container {
  margin: 20px 0;
  align-items: center;
}

.search-bar {
  padding: 10px;
  width: 50%;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 55px;
}
