/* Import Roboto font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Apply Roboto font to the entire project */
body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure all elements inherit this font family */
*,
*::before,
*::after {
  font-family: inherit;
}
